/***************** basic reset *****************/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***************** some default styling  *****************/
body {
    color: #fff;
}

img {
    width: 100%;
    object-fit: cover;
}
input {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
    background-color: #f3f1f1;
}

input::placeholder {
    color: gray;
    font-size: 12px;
}

input:focus{
    border: 1px solid #111;
    outline: none;
}
.loginform input:focus{
    border-color: #a8a8a8;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #606ff4 ;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
}

a{
    text-decoration: none;
}

div, button, img,input {
    width: 100%;
}


/************ main styling start here ************/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 80vh;
    margin: 30px 10px 10px 10px;
}

.card {
    border: 1px solid rgb(196, 195, 195);
    max-width: 320px;
    padding: 50px 40px 0 40px;
    border-radius: 5px;
}


/************ social media login setion ************/
.fb_login {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.fb_login img {
    width: 20px;
    height: 20px;
}

.forgotpass {
    padding-bottom:20px;
    color: #111;
}

.forgotpass:hover {
    text-decoration: underline;
}


/************ sign up section ************/

.signup_section { 
    border:  1px solid rgb(196, 195, 195);
    max-width: 320px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
}

.signup span {
    color: #111;
}

form button {
    cursor: default;
    color: #fff;
}



/********** media query ***********/
@media (max-width: 335px){
    .card {
        border: 1px solid rgb(196, 195, 195);
        width: 230px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
    background-color: #fff;
    font-size: 12px;
    }

    input::placeholder {
    color: gray;
    font-size:8px;
    }

    .fb_login img {
    width: 15px;
    height: 15px;
    }

    .signup_section { 
    border:  1px solid rgb(196, 195, 195);
    width: 230px;

    }

}
