*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 80vh;
    margin: 30px 10px 10px 10px;
}

img {
    width: 100%;
    object-fit: cover;
}
input {
    margin-bottom: 5px;
    padding: 10px 0;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
}

input::placeholder {
    color: gray;
    font-size: 12px;
    padding-left: 10px;
}

input:focus{
    border: 1px solid #111;
    outline: none;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #606ff4 ;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
}

a{
    text-decoration: none;
}

button a{
    color: #fff;
}

div, button, img,input {
    width: 100%;
}


.card {
    border: 1px solid rgb(196, 195, 195);
    max-width: 320px;
    padding: 50px 40px 0 40px;
    border-radius: 5px;
}

.titel img {
    width: 200px;
}

.loginform input:focus{
    border-color: #a8a8a8;
    padding-left: 5px;
}

.login-with-fb div {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.loginwithfb {
    padding-top: 15px;
}

.loginwithfb img {
    max-width: 17px;
}

.forgotpass {
    padding-bottom:20px;
}

.forgotpass a {
    color: black;
}

.forgotpass a:hover {
    text-decoration: underline;
}

.signup_section { 
    border:  1px solid rgb(196, 195, 195);
    max-width: 320px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
}

form button {
    cursor: default;
}

@media (max-width: 335px){
    .card {
        border: 1px solid rgb(196, 195, 195);
        width: 230px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
    background-color: #fff;
    font-size: 12px;
 }
    .login-with-fb div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

    input::placeholder {
    color: gray;
    font-size:8px;
    padding-left: 10px;
}

    .signup_section { 
    border:  1px solid rgb(196, 195, 195);
    width: 230px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
}

}
